@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  font-weight: 400 !important;
  color: rgb(173, 173, 173);
}
.bg-grey {
  background-color: rgba(173, 173, 173, 0.15);
}
.connect {
  background-image: url("./img/connect.jpg");
  min-height: 50vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  min-height: 50vh;
}
.aluminium-img {
  max-height: 12rem;
  border-radius: 50%;
}
.aluminium-text {
  letter-spacing: 1px;
}
.left-container {
  background-color: rgb(173, 173, 173);
  min-height: 100vh;
  padding: 2rem;
  position: relative;
}
.left-container .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
b {
  font-family: "Lato", sans-serif;
  font-weight: 700 !important;
  letter-spacing: 1px;
}
.mohome-name {
  text-align: right;
}
.forklift-bg {
  background-image: url("./img/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.under-construction {
  text-transform: uppercase;
  margin-top: 7.5rem;
  color: rgb(19, 176, 216);
}
.address-row {
  margin-top: 7.5rem;
}
.color-blue {
  color: rgb(11, 184, 216);
}
.color-white {
  color: white;
}
.navbar {
  padding: 1rem 0;
}
.navbar-toggler {
  width: 4rem;
  height: 4rem;
  border: none;
}
.navbar-brand {
  width: 5rem;
}
.nav-link {
  font-weight: 700;
  color: rgb(11, 184, 216, 0.9) !important;
}
.nav-link:hover {
  color: rgb(11, 184, 216, 1) !important;
}
.hero-image {
  background-image: url("./img/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 50rem;
  height: 50rem;
}
.company-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent;
}
.company-name h1,
.company-name h3 {
  font-weight: 400 !important;
  text-shadow: 0 0 10px rgb(0 0 0 / 25%);
}
.about-subdiv {
  padding: 2rem;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo-img {
  max-width: 3rem;
}
.footer-logo-text {
  margin-left: 1rem;
  color: rgb(19, 176, 216);
}
.offices b {
  color: rgb(19, 176, 216);
}
@media screen and (max-width: 720px) {
}

@media screen and (max-width: 540px) {
  .nav-item {
    text-align: center;
  }
  .hero-image {
    background-position-x: -25rem;
  }
  .company-name {
    max-height: 300px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
  }
}
